<h1>Bookstores</h1>
<div class="a">
	<%= link_to "customers",customers_path%>
</div>

<div>
	<%= link_to 'Authors',  authors_path  %>
</div>

<div>
	<%= link_to 'Suppliers', suppliers_path %>
</div>
<div>
	<%= link_to 'books', books_path %>
</div>
